# This file is meant to be passed through m4. If you just want the file, delete
# the next line (starting with changequote)
changequote(`[[[[', `]]]]')
# This is Git's per-user configuration file.
[user]
	# Adapt this or run the m4 command
	name=mygitusername
	email=mygitemail
[alias]
	co = checkout
	ri = rebase -i
	rc = rebase --continue
	st = status
	ws = rebase --whitespace=fix
	cg = config --global
	logo = log --oneline --decorate
	base = merge-base HEAD HEAD@{u}
	lob = !git log --oneline --decorate --first-parent `git base`^..
	cf = config
	br = branch
	ci = commit
	logob = log --oneline --decorate --first-parent
	logog = log --graph --oneline --decorate
	diffs = diff --staged
	update-date = !git commit --amend --date=\"$(date -R)\"
	unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
	up = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
[merge]
	conflictstyle = diff3
[core]
	pager = less -+FX
	editor = sensible-editor.sh
[pull]
	rebase = true
[init]
	defaultBranch = main
[submodule]
	recurse = true
